@import '../../../general.scss';

.street {
  width: 100%;
  max-width: 660px;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  max-height: 82px;
  margin-bottom: 20px;
  &:nth-child(odd) {
    margin-right: 15px;
  }
}

.street_opened {
  max-height: 100%;
  .toggle {
    transform: rotate(180deg);
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.name {
  text-align: start;
}