@import '../../../general.scss';

.flat {
  width: 100%;
  max-width: 120px;
  padding: 6px;
  background-color: grey;
  color: white;
  font-size: 18px;
  transition: .1s linear background-color;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover {
    background-color: $main-c;
  }
}