@import '../../../general.scss';

.house {
  width: 100%;
  max-width: 560px;
  border-radius: 15px;
  border: 2px solid #999;
  padding: 15px 10px;
  overflow: hidden;
  max-height: 70px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &:nth-child(odd) {
    margin-right: 15px;
  }
}

.house_opened {
  max-height: 300px;
  overflow-y: auto;
  .toggle {
    transform: rotate(180deg);
  }
  ul {
    overflow-y: auto;
    max-height: 100%;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.name {
  text-align: start;
}