@import '../../general.scss';

.toggle {
  width: 35px;
  padding: 6px;
  svg {
    width: 100%;
    transition: .06s linear fill;
    max-width: 32px;
  }
  &:hover {
    svg {
      fill: $main-c;
    }
  }
}